h1 {
    color: blue;
    text-align: center;
}

p {
    color: rgb(0, 255, 55);
    text-align: center;
}

body {
    padding: 10px;
    border: rgb(11, 86, 88) 2px solid;
    border-radius: 10px;
   
}
img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}



.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}
