h1{
    color: blue;
    text-align: center;
}

p{
    color: rgb(0, 255, 55);
    text-align: center;
}
body {
    padding: 10px;
    border: rgb(11, 86, 88) 2px solid;
    border-radius: 10px;
background-color: burlywood;


}


